<input type="text" class="form-control col-3 mb-2" placeholder="Search..." ng-model="searchText">


<table class="table table-condensed" style="border-collapse:collapse;">
  <thead>
  <tr>
    <th >Name</th>
    <th>Description</th>
    <th>Address</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody ng-repeat="property in properties | filter:searchText track by $index">
  <tr data-toggle="collapse"
      data-target="#units{{$index}}"
      class="accordion-toggle"
      ng-class="{'is-archive': property.isArchive}"
  >
    <td>{{property.name}}</td>
    <td>{{property.description}}</td>
    <td>{{property.address}}</td>
    <td class="text-center">
      <a href="#!/property/edit"
         class="btn btn-primary">Edit</a>
    </td>
    <td>
      <button class="btn btn-secondary btn-archive" ng-click="changeArchiveStatus(property); $event.stopPropagation();">
        <span ng-if="!property.isArchive">Archive</span>
        <span ng-if="property.isArchive">UnArchive</span>
      </button>
    </td>
  </tr>
  <tr class="expandable" ng-if="!property.isArchive">
    <td colspan="6">
      <div class="accordian-body collapse" id="units{{$index}}">
        <div class="d-flex mb-2 align-items-center" ng-repeat="unit in property.units track by $index">
          <div class="d-flex flex-column mr-3">
            <span>Unit number: {{unit.number}}</span>
            <span> Unit area: {{unit.area}}</span>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" ng-click="onOpenModal(unit)">Edit</button>
        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form name="unitForm" ng-submit="saveUnit(unitForm.$valid)">
        <div class="modal-body">
          <div ng-if="!isSaved">
            <h1 ng-if="isEdit">Edit Unit</h1>

            <div class="form-group">
              <label for="unitNumber">Unit number*</label>
              <input type="text" ng-model="unitToEdit.number" class="form-control" id="unitNumber" required>
            </div>

            <div class="form-group">
              <label for="unitArea">Unit area*</label>
              <input type="number" ng-model="unitToEdit.area" class="form-control" id="unitArea" required>
            </div>
          </div>

          <h1 ng-if="isSaved">Done!</h1>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" ng-if="!isSaved" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
