/* app css stylesheet */

body {
  margin:0;
  padding:0;
  height:100%;
}

main header {
  background:#457B9D;
}

main header a {
  color: #F6FBF4;
}

main .body {
  flex: 1;
  padding: 20px 80px 60px;
  background: #F6FBF4;
  color: #1D3557;
}

main footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;
  background:#1D3557;
  color: #F6FBF4;
}

.nav{
  padding: 20px 0;
}

table {
  color: #1D3557 !important;
}

table .expandable td {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: -1px;
}

table .btn-archive {
    min-width: 100px;
}

table .is-archive td:not(:last-child){
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}

.accordion-toggle:hover {
  cursor: pointer;
  background: #eee;
}

.container .table td {
  vertical-align: middle;
}

footer .copyright {
  margin-right: 80px;
}
