<form class="pb-3" name="propertyForm" ng-if="!isSaved" ng-submit="saveProperty(propertyForm.$valid)">
  <h1 ng-if="isEdit">Edit {{property.name}} Property</h1>
  <h1 ng-if="!isEdit">Add New Property</h1>

  <div class="form-group">
    <label for="propertyName">Property name*</label>
    <input type="text" ng-model="property.name" class="form-control" id="propertyName" required>
  </div>

  <div class="form-group">
    <label for="propertyDescription">Property description*</label>
    <input type="text" ng-model="property.description" class="form-control" id="propertyDescription" required>
  </div>

  <div class="form-group">
    <label for="propertyAddress">Property address*</label>
    <input type="text" ng-model="property.address" class="form-control" id="propertyAddress" required>
  </div>

  <h2>Property Units</h2>

  <div ng-repeat="unit in property.units track by $index">
    <h3>New unit</h3>
    <div class="form-group">
      <label for="number">Number*</label>
      <input type="text" ng-model="unit.number" class="form-control" id="number" required>
    </div>

    <div class="form-group">
      <label for="area">Area, ft <super>2</super>*</label>
      <input type="text" ng-model="unit.area" class="form-control" id="area" required>
    </div>
  </div>

  <div class="d-flex justify-content-between">
    <div>
      <button class="btn btn-secondary mr-1" ng-click="addUnit($event)">Add unit</button>
      <!-- Hide Button that removes unit as Property can't be existed without units -->
      <button class="btn btn-danger" ng-if="property.units.length > 1" ng-click="removeUnit($event)">Remove unit</button>
    </div>

    <div>
      <button type="submit" class="btn btn-primary">{{isEdit ? 'Edit' : 'Add new'}} Property</button>
      <button type="submit" class="btn btn-danger mr-1" ng-if="isEdit" ng-click="deleteProperty()">Delete Property</button>
    </div>
  </div>
</form>

<h1 ng-if="isSaved">Done!</h1>
